@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Spartan, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
}

*::selection {
  background: #eab2b2;
}

/** React Toastify **/
#app-toast .app-toast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app-toast .app-toast-item {
  min-height: 0;
  margin-bottom: 0;
  border-radius: 2rem;
  padding: 0.275rem 1rem 0.275rem;
  font-size: .925rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #323232;
  text-align: center;
}

#app-toast .app-toast-item + .app-toast-item {
  margin-top: .5rem;
}

#app-toast .app-toast-item:last-child {
  margin-bottom: 1rem;
}

#app-toast .app-toast-item .Toastify__toast-icon {
  margin-inline-end: .5rem;
}

#app-toast .app-toast-body {
  padding: 0;
}

#app-toast .Toastify__progress-bar--wrp {
  height: 2px;
}

/** Forms **/
.input-text-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-text-group .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.input-text-group .input-group-float {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/** Article **/
.article-content ul {
  @apply list-disc pl-10 pb-4
}

.article-content ol {
  @apply list-decimal pl-10 pb-4
}

.article-content{
  @apply text-lg leading-relaxed
}

.article-content p{
  @apply mb-4 text-justify text-base
}
.article-content blockquote{
  @apply p-4 my-4 border-l-4 border-gray-300
}
.article-content blockquote p{
  @apply text-base italic font-medium leading-relaxed text-gray-500  
}
.article-content h1{
  @apply text-xl mt-9 mb-6 font-bold
}
.article-content h2{
  @apply text-2xl mt-9 mb-6 font-bold
}

.article-content h3 {
  font-size: 1.375rem;
  @apply mb-2 font-bold
}

.article-content h4 {
  @apply mb-2 text-xl font-bold
}

.article-content h5 {
  @apply mb-2 text-lg font-bold
}

.article-content h6 {
  @apply mb-2 text-base font-bold
}

.article-content>*:last-child {
  margin-bottom: 0;
}
